@charset "UTF-8";

html, body {
    overflow-x: hidden;
}

:root{
    --cor01: #2E2233;
    --cor02: #4E2E5C;
    --cor03: #6B2D86;
    --cor04: #851DB1;
    --cor05: #9C01DC;
    --cor06: #d574ff;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    

    width: 100vw;
    height: 100vh;
    background-color: var(--cor06);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: linear-gradient(to bottom, #9c01dc, #6b2d86);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 35px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);

}

header h1{
    color: white;
    font-size: 3em;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    font-family: 'jaro' sans-serif;
}

header p{
    color: white;
    font-size: 1.5em;
    margin-top: 10px;
}

main{
    margin: auto;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

main p{
    text-align: justify;
    margin: 20px 0px;
    line-height: 2em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.377);
}

strong.grifes{
    background-color: #d675ff80;
    color: #4E2E5C;
    padding: 1px;
}

strong.grifes:hover{
    background-color: #c847ff80;
    color: black;
}

aside.container{
    text-align: center;
}

aside.container fieldset{
    display: inline-block;
    width: 80%;
    padding: 10px;
    background-color: #d574ff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

img.img-p{
    width: 100%;
}

section#video{
    background-color: var(--cor03);
    width: 100%;
    height: 200px;
    position: relative;
    padding-bottom: 25%;
}

section#video > iframe{
    position: absolute;
    top: 4%;
    left: 4%;
    width: 90%;
    height: 90%;
}

section#video h2{
    font-size: 2em;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

div.bio{
    display: inline-block;
    border: 1px solid black;
    width: 200px;
    margin: 30px 100px;
}

div.bio img{
    width: 100px;
}
footer{
    background-color: rgb(44, 44, 44);
    color: white;
    text-align: center;
    margin-top: 10px;
    padding-top: 25px;
}

footer a{
    color: white;
}

div.bio:hover{
    background-color: rgb(20, 20, 20);
}